@import 'styles/theme';

.header {
  &.container {
    @include center;
    background-color: rgba(51, 51, 82, 0.75);
    border-radius: 0.75em;
  }

  &.title {
    font-weight: bold;
    color: $textColor;
    text-align: center;
  }
}