@import 'styles/theme';

.login {
  &.container {
    border-radius: 0.5em;
    background-color: $background;
    @include center;
  }
  &.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.75em;
    align-items: center;
    padding:5%;
    width:80%;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  &.input{
    margin:2%;
    border: none;
    border-radius: 0.4em;
    background: transparentize(white, 0.85);
    color: $textColor;

  }
  &.field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2%;

  }
  &.button-container{
    display: flex;
    justify-content: center;
    min-height: 35px;
    max-height: 60px;
    min-width: 100px;
    max-width: 150px;
    margin-top: 2%;

  }
  &.label {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: $textColor;
  }

}